<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>code</key>
        <dict>
            <key>code1</key>
            <string>984FF9C4C521956C6364C7A8D0F7C9E2</string>
            <key>code2</key>
            <string>E8E79CAE72CF002147AC4DC754E2C779</string>
            <key>code3</key>
            <string>D5D3860AE3E55805C5284C1E781EED58</string>
            <key>code4</key>
            <string>043BBB0160FBA0072F2B575C9E88BD30</string>
        </dict>
        <key>agcgw</key>
        <dict>
            <key>backurl</key>
            <string>connect-dre.dbankcloud.cn</string>
            <key>url</key>
            <string>connect-dre.hispace.hicloud.com</string>
            <key>websocketbackurl</key>
            <string>connect-ws-dre.hispace.dbankcloud.cn</string>
            <key>websocketurl</key>
            <string>connect-ws-dre.hispace.dbankcloud.com</string>
        </dict>
        <key>agcgw_all</key>
        <dict>
            <key>CN</key>
            <string>connect-drcn.hispace.hicloud.com</string>
            <key>CN_back</key>
            <string>connect-drcn.dbankcloud.cn</string>
            <key>DE</key>
            <string>connect-dre.hispace.hicloud.com</string>
            <key>DE_back</key>
            <string>connect-dre.dbankcloud.cn</string>
            <key>RU</key>
            <string>connect-drru.hispace.hicloud.com</string>
            <key>RU_back</key>
            <string>connect-drru.dbankcloud.cn</string>
            <key>SG</key>
            <string>connect-dra.hispace.hicloud.com</string>
            <key>SG_back</key>
            <string>connect-dra.dbankcloud.cn</string>
        </dict>
        <key>client</key>
        <dict>
            <key>cp_id</key>
            <string>70090000024813738</string>
            <key>product_id</key>
            <string>736430079244835865</string>
            <key>client_id</key>
            <string>575591789830866112</string>
            <key>client_secret</key>
            <string>[!00B06D6435D637810A753FC890F876F64E847EE29D4F2DB5527C1B5ED473460482D7AA052DCC74F19C4660A914903E2C5C290721B9E4156346CF77A20F19FC73247CBE90C30849378A79C59668744E6B58656DE92CB2C1131DCC66E72162D3EDE7]</string>
            <key>project_id</key>
            <string>736430079244835865</string>
            <key>app_id</key>
            <string>322385623853980531</string>
            <key>api_key</key>
            <string>CgB6e3x92ktqlr/wOwj+bWSRQDV28Eao9CL7zu3u4gFCgDL7uk226OC89CbZ4X4qaciEEaHtV3qF0ZWLg1+eAikv</string>
            <key>package_name</key>
            <string>com.ozhayta.HMSMLKitTranslation</string>
        </dict>
        <key>service</key>
        <dict>
            <key>analytics</key>
            <dict>
                <key>channel_id</key>
                <string/>
                <key>collector_url</key>
                <string>datacollector-dre.dt.hicloud.com,datacollector-dre.dt.dbankcloud.cn</string>
                <key>resource_id</key>
                <string>p1</string>
            </dict>
            <key>search</key>
            <dict>
                <key>url</key>
                <string>https://search-dre.cloud.huawei.com</string>
            </dict>
            <key>ml</key>
            <dict>
                <key>mlservice_url</key>
                <string>ml-api-dre.ai.dbankcloud.com,ml-api-dre.ai.dbankcloud.cn</string>
            </dict>
            <key>cloudstorage</key>
            <dict>
                <key>storage_url</key>
                <string>https://ops-dre.agcstorage.link</string>
            </dict>
        </dict>
        <key>region</key>
        <string>DE</string>
    </dict>
</plist>
